.dice {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .6rem;
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
    padding: .4rem;
    background-color: white;
}

.dice-num {
    font-size: 2rem;
    
}